
@media handheld, only screen and (min-width: 767px) {
    .tree {
        position: fixed;
        list-style:none;
        overflow: auto;
        bottom: 0em;	
        left: 0em;
        background-color: rgba(255, 255, 255, 1);
        width: auto;
        max-height: 70%; 
        z-index: 1;
    }
}
.parent_li{

    list-style:none;
    font-size:
        small;
}

ul, menu, dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 10px;
}

html{
    height: 100%;
    width: 100%;
    overflow: hidden;   
}


body{
    height: 100%;
    width: 100%;
    overflow: hidden;   
}

#map {
    height: 100%;
    width: 100%;
    overflow: hidden;  
}

.navbar .navbar-brand {
    font-weight: bold;
    font-size: 25px;
    color: white;
}
#popup-content {
    max-height: 300px;
    overflow-y: auto;
}
#layers {
    position: absolute;
    top: 22.5em;
    right: 0.5em;
    text-align: left;
    width: 3em;
    height: 3em;
}

#grafico {
    position: absolute;
    top: 23.5em;
    left: 0.1em;
}
#boton {
    position: absolute;
    top: 12.5em;
    left: 0.5em;
}
#marco{
    position: absolute;
    top: 0em;
    right: 0em;
    width: 30%; 
    height: 100%;
    z-index: 2;
}
#botoncerrarstreetview{
    position: absolute;
    top:20%;
    right: 30%;
    height: 2em;
    width: 2em;
    background-color:#FFFFFF;
    background-position: 50%; 
}
#botonmostrarstreetview{
    position: absolute;
    top:20%;
    right: 0%;
    height: 2em;
    width: 2em;
    background-color:#FFFFFF;
    background-position: 50%; 
}
/*
#marco_imagenes{
    position: absolute;
    top: 0em;
    right: 0em;
    width: 100%; 
    height: 800%;
    z-index: 2;
}*/
@media handheld, only screen and (min-width: 900px) {
    #mouse-position {
        position: absolute;
        top: 2em;
        right: 20em;
        font-size: 0.83em;
        background-color: rgba(0,173,65,1);
        color: #F8F8F8;
        width: 15em !important;
        height: 3em;
        text-align: center;
        -webkit-border-radius: 1em;
    }
}


@media handheld, only screen and (max-width: 900px) {
    #mouse-position {
        visibility: hidden;
    }
}

@media handheld, only screen and (min-width: 900px) {
    #barratransparencia{
        position: absolute;
        top: 2em;
        left: 22em;
        font-size: 0.83em; 
        color: #F8F8F8;
        width: 200px;
        height: 35px;
        background-image: url(../imagenes/fondo_barra_transparencia.png);
        background-repeat:no-repeat;
        -webkit-border-radius: 18px;
    }
}
@media handheld, only screen and (max-width: 900px) {
    #barratransparencia{
        position: absolute;
        top: 5em;
        left: 33%; 
        color: #F8F8F8;
        width: 150px;
        height: 28px;
        background-image: url(../imagenes/fondo_barra_transparencia_mobil.png);
        background-repeat:no-repeat;
        -webkit-border-radius: 6px;
        
    }
}

#lupa_general{
    border: 0px solid #ccc;
    border-radius: 0px;
    background-image:url(http://104.197.185.151/beta1/imagenes/lupa_general.png);
    height:34px;
    width:35px;
    background-position:center;
    background-size: 110% 110%;
    background-color: rgba(255,255,255,1);
}
@media handheld, only screen and (min-width: 767px) {
    #boton_principal{
        position: absolute;
        top:1em;
        left:1em;
        height:2.5em;
        width:2.5em;
        margin-left: 0.5em;
        box-shadow: 1px -1px 1px rgba(0,0,0,0.1); -moz-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
        -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
        -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.1); 
        border-radius:25px
            /*See-more-at:-www.corelangs.com/css/box/shadow.html#sthash.xw8GN68s.dpuf*/
    }
}
@media handheld, only screen and (max-width: 767px) {
    #boton_principal{
        position: absolute;
        top:5em;
        left:1em;
        margin-left: 0.5em;
        height:2.5em;
        width:2.5em;
    }
}
@media handheld, only screen and (min-width: 900px) {
    #menu_circular{
        position: absolute;
        top:1em;
        left:58%;
        height:7.2em;
        width:7.5em;
        margin-left: 0.5em;
    }
}
@media handheld, only screen and (max-width: 900px) {
    #menu_circular{
        position: absolute;
        top:0em;
        left:0em;
        height:7.2em;
        width:7.5em;
        margin-left: 0.5em;
    }
}

@media handheld, only screen and (min-width: 900px) {
    #lupa_pequeña{
        position:absolute;
        top:1em;
        right:5%;
        height:2.5em;
        width:2.5em;
        margin-left: 0.5em;   
    }
}
@media handheld, only screen and (max-width: 900px) {
    #lupa_pequeña{
        position:absolute;
        top:1em;
        left:0.5em;
        height:2.5em;
        width:2.5em;
        margin-left: 0.5em;   
    }
}
@media handheld, only screen and (min-width: 900px) {
#boton_capas{
    position:absolute;
    top:1em;
    left:15%;
    height:2.5em;
    width:2.5em;
    margin-left: 0.5em;  
    }
}
@media handheld, only screen and (max-width: 900px) {
#boton_capas{
    position:absolute;
    top:1em;
    right:0.5em;
    height:2.5em;
    width:2.5em;
    margin-left: 0.5em;  
    }
}
    

@media handheld, only screen and (min-width: 900px) {
    #boton_limpiar{
        position: absolute;
        top:2em;
        left:66%;
        height:2.5em;
        width:2.5em;
        margin-left: 0.5em;
        box-shadow: 1px -1px 1px rgba(0,0,0,0.1); -moz-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
        -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
        -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.1); 
        border-radius:25px;
        /*- See more at: http://www.corelangs.com/css/box/shadow.html#sthash.xw8GN68s.dpuf*/
    }
}

@media handheld, only screen and (max-width: 900px) {
    #boton_limpiar{
        position: absolute;
        top:18em;
        right:1em;
        height:2.5em;
        width:2.5em;
        margin-left: 0.5em;
        box-shadow: 1px -1px 1px rgba(0,0,0,0.1); -moz-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
        -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
        -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.1); 
        border-radius:25px;
        /*- See more at: http://www.corelangs.com/css/box/shadow.html#sthash.xw8GN68s.dpuf*/
    }
}



#busca_direccion{
    position: absolute;
    top: 1.7em;
    left: 81%;
    width: 6.4em;
    margin-left: 0.5em;
}
/*@media handheld, only screen and (max-width: 767px) {*/
#subirshape{
    position: absolute;
    top: 5.3em;
    left: 1em;
    height: 2.5em;
    width: 2.5em;
    margin-left: 0.5em;
    box-shadow: 1px -1px 1px rgba(0,0,0,0.1); -moz-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.1); 
    border-radius:25px;
}
/*}*/
#valid{
    position: absolute;
    top: 5.3em;
    left: 4em;
    height: 2.5em;
    width: 2.5em;
    margin-left: 0.5em;
    box-shadow: 1px -1px 1px rgba(0,0,0,0.1); -moz-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.1); 
    border-radius:25px;
}
#deshacer{
    position: absolute;
    top: 5.3em;
    left: 7em;
    height: 2.5em;
    width: 2.5em;
    margin-left: 0.5em;
    box-shadow: 1px -1px 1px rgba(0,0,0,0.1); -moz-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
    -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
    -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.1); 
    border-radius:25px;
}
@media handheld, only screen and (min-width: 900px) {
    #cerrar_submenu {
        position: absolute;
        top:1em;
        left:1em;
        height:2.5em;
        width:2.5em;
        margin-left: 0.5em;
        box-shadow: 1px -1px 1px rgba(0,0,0,0.1); -moz-box-shadow: 1px -1px 1px rgba(0,0,0,0.1);
        -webkit-box-shadow: 5px 5px 5px rgba(0,0,0,0.1);
        -o-box-shadow: 10px -10px 5px rgba(0,0,0,0.1); 
        border-radius:25px;
    }
}

@media handheld, only screen and (max-width: 900px) {
    #cerrar_submenu {
        visibility: hidden;
    }
}
#cerrar_submenu_cafe {
    position: absolute;
    top:1em;
    left:1em;
    height:2.5em;
    width:2.5em;
    margin-left: 0.5em;
    z-index: 2;
}
#cerrar_submenu_verde {
    position: absolute;
    top:1em;
    left:1em;
    height:2.5em;
    width:2.5em;
    margin-left: 0.5em;
    z-index: 2;
}



@media handheld, only screen and (max-width: 900px) {
    #submenu {
        visibility: hidden;
    }
}

@media handheld, only screen and (min-width: 900px) {
    #submenu {
        position: absolute;
        top:0em;
        left:0em;
        height:7.2em;
        width:7.5em;
        z-index: 0;
    }
}



#busqueda_personalizada {
    position: absolute;
    top:1em;
    left:20%;
    height:4.4em;
    width:6em;
    z-index: 0;
}
#transicion_capas {
    position: absolute;
    top:1.1em;
    left:18%;
    height:5.7em;
    width:4.2em;
    z-index: 0;
}
#consulta_simple {
    position: absolute;
    top:4.5em;
    left:61.5em;
    height:2.5em;
    width:2.5em;
    z-index: 1;
}
@media handheld, only screen and (min-width: 767px) {
    #personalizada{
        position: absolute;
        top:46%;
        left:7%;
        height:35px;
        width: 35px;
    }
}
@media handheld, only screen and (max-width: 767px) {
    #personalizada{
        position: absolute;
        top:16%;
        left:7%;
        height:10px;
        width: 10px;
    }
}
#personalizada1{
    position: absolute;
    top:40%;
    left:7%;
    height:35px;
    width: 35px;
}
#personalizada2{
    position: absolute;
    top:52%;
    left:7%;
    height:35px;
    width: 35px;
}
/*#rango_area{
        position: absolute;
        top:58%;
        left:7%;
        height:35px;
        width: 35px;
}*/
/*#tipo_construccion{
        position: absolute;
        top:64%;
        left:7%;
        height:35px;
        width: 35px;
}*/
/*#estrato{
        position: absolute;
        top:70%;
        left:7%;
        height:35px;
        width: 35px;
}*/
@media handheld, only screen and (min-width: 767px) {
    #gesstor {
        position: absolute;
        bottom:4em;
        right:2em;
        height:1.6em;
        width: 5.5em;
    }
}
@media handheld, only screen and (max-width: 767px) {
    #gesstor {
        position: absolute;
        bottom:0.5em;
        right:1em;
        /*height:1.6em;*/
        width: 3.5em;
    }
}
@media handheld, only screen and (min-width: 900px) {
    #logos_cabezote {
        position: absolute;
        top:1em;
        left:1em;
        width: 16em;
    }
}

/*dispositivo movil*/
@media handheld, only screen and (max-width: 900px) {
    #logos_cabezote {
        visibility: hidden;
    }
}
#fondo_base {
    position: absolute;
    bottom:8%;
    left:2%;
    width: 130px;
}
@media handheld, only screen and (min-width: 900px) {
    #salida {
        position: absolute;
        top:1.3em;
        right:2.9em;
        width: 5.8em;
        z-index: 0;
    }
}
@media handheld, only screen and (max-width: 900px) {
    #salida {
        position: absolute;
        top:1em;
        right:1%;
        width: 4em;
        z-index: 0; 
    }
}
@media handheld, only screen and (min-width: 767px) {
    #maria {
        position: absolute;
        top:2.0em;
        right:4.8em;
        width: 3.2em;
        z-index: 1;
    }
}
@media handheld, only screen and (max-width: 767px) {
    #maria {
        position: absolute;
        top:1.6em;
        right:2.2em;
        width: 2.2em;
        z-index: 1;
    }
}
#barra_busqueda_direccion{
    position: absolute;
    bottom:30%;
    left:40%;
}
#barra_busqueda_matricula{
    position: absolute;
    bottom:30%;
    left:40%;
}
@media handheld, only screen and (min-width: 900px) {
#barra_codigo{
    position: absolute;
    bottom:30%;
    left:40%;
 }
}
@media handheld, only screen and (max-width: 900px) {
#barra_codigo{
    position: absolute;
    bottom:20%;
    left:20%;
 }
}
@media handheld, only screen and (min-width: 767px) {
    #barra_alineamiento{
        position: absolute;
        bottom:20%;
        left:40%;
    }
}

@media handheld, only screen and (max-width: 767px) {
    #barra_alineamiento{
        position: absolute;
        bottom:30%;
        left:3em;
    }
}


@media handheld, only screen and (min-width: 767px) {
    #barra_predioshasusos{
        position: absolute;
        bottom:20%;
        left:40%;
    }
}

@media handheld, only screen and (max-width: 767px) {
    #barra_predioshasusos{
        position: absolute;
        bottom:30%;
        left:3em;
    }
}


#cerrarbarraalineamiento{
    position: absolute;
    bottom:0%;
    right:0%;   
    height:2.2em;
    width:2.2em;
    z-index: 2;
}
.textarea{
    border-top-left-radius: 10px 10px;
    border-top-right-radius: 0px !important;
    border:0px solid #ccc !important;
    background-color: rgba(255,255,255,1);
    width: 150px;
}
.input-xs {
    height: 32px;
    padding: 2px 5px;
    font-size: 11px;
    line-height: 1.5; /* If Placeholder of the input is moved up, rem/modify this. */
    border-top-left-radius: 10px 10px;
}
.input-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    /*width: 150%;*/
    margin-bottom: 0;
}
.input-group-addon {
    min-width:1px;
    text-align:left;
}

#label_direccion{
    font-family: "Times New Roman", Times, serif;
    font-weight: normal;
    color: black;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

.form-control {
    border: 0px;
}
.input-group-addon {
    border: 0px solid #ccc;
    border-radius: 0px;
}
.input-group-btn {
    border: 0px solid #ccc;
    border-radius: 0px;
}
@media handheld, only screen and (min-width: 900px) {
    .ol-scale-line {
        background: rgba(0,173,65,0.5);
        border-radius: 0px;
        top: 5em;
        right: 18em;
        padding: 0em;
        position: absolute;
    }
}

@media handheld, only screen and (max-width: 900px) {
    .ol-scale-line {
       visibility: hidden;
    }
}


@media handheld, only screen and (min-width: 900px) {
    .ol-scale-line-inner {
        border: 1px solid #FFFFFF;
        border-top: none;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: bold;
        text-align: right;
        margin: 0px;
        padding: 0 2px;
        top:10px;
        left: 10px;
    }
}

@media handheld, only screen and (max-width: 900px) {
    .ol-scale-line-inner {
       visibility: hidden;
    }
}







#botones{
    position: absolute;
    display: none;
    bottom: 0em;	
    left: 0em;
}
#botonesverticales{
    position: absolute;
    bottom: 10em;	
    left: 1em;
}
#muestra{
    background-color: #555555;
    border: none;
    color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}
#gestioncatastral{
    position: absolute;
    display: none;
    bottom: 0em;	
    left: 0em;
}
#potinteractivo{
    position: absolute;
    display: none;
    bottom: 0em;	
    left: 0em;
}
#SUI{
    position: absolute;
    display: none;
    bottom: 0em;	
    left: 0em;
}
#industriaycomercio{
    position: absolute;
    display: none;
    bottom: 0em;	
    left: 0em;
}
#herramientas{
    position: absolute;
    bottom: 0em;	
    left: 0em;
}

.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 0px;
    padding-right: 0px;
    width: 1400px;
}
@media handheld, only screen and (min-width: 900px) {
    #manual{
        position: absolute;
        top: 5.8em;
        right: 6.5em;
        width: 2em;
    }
}
@media handheld, only screen and (max-width: 900px) {
    #manual{
        visibility: hidden;
    }
}
@media handheld, only screen and (min-width: 900px) {
    .ol-zoom-extent
    {
        position: absolute;
        top:30.5em;
        right:2.5em
    }
}
@media handheld, only screen and (max-width: 900px) {
    .ol-zoom-extent
    {
        position: absolute;
        top:8em;
        right:1em
    }
}
@media handheld, only screen and (min-width: 767px) {
    .ol-overviewmap{
        position:absolute;
        right:2.5em;
        top:36.5em
    }
}
@media handheld, only screen and (min-width: 900px) {
    .ol-zoom{
        top:25.5em;
        right:2.5em
    }
}
@media handheld, only screen and (max-width: 900px) {
    .ol-zoom{
        top:12em;
        right:1em
    }
}
@media handheld, only screen and (min-width: 900px) {
    #barra_general{
        position: absolute; 
        top: 2em; 
        left: 37em; 
        width: 20em;
        min-height: 1em;
        margin-bottom: 0em; 
        border: 0em solid transparent;
    }
}
@media handheld, only screen and (max-width: 900px) {
    #barra_general{
        position: absolute; 
        top: 1em; 
        left: 1em; 
        width: 10em;
        min-height: 2em;
        margin-bottom: 0em; 
        border: 0em solid transparent;
    }
}

@media handheld, only screen and (min-width: 767px) {
    #lista_general{
        position: absolute;
        top: 0px;
        right: 0px; 
        width: 20em;
        border:0px;
    }
}
@media handheld, only screen and (max-width: 767px) {
    #lista_general{
        position: absolute;
        top: 0px;
        left: 0px; 
        width: 10em;
        border:0px;
    }
}


@media handheld, only screen and (max-width: 767px) {
    #posicionbarra{
        position: absolute;
        top: 0px;
        left: 10%; 
        width: 10em;
        border:0px;
    }
}


@media handheld, only screen and (min-width: 767px) {
    #address1{
        opacity:0.9;
        width:15em; 
        height:2.5em;	
    }
}
@media handheld, only screen and (max-width: 767px) {
    #address1{
        opacity:0.8;
        width:10em; 
        height:2.3em;	
    }
}
@media handheld, only screen and (min-width: 767px) {
    #barra_barrio{
        opacity:0.9;
        width:15em; 
        height:2.5em;
    }
}
@media handheld, only screen and (max-width: 767px) {
    #barra_barrio{
        opacity:0.8;
        width:10em; 
        height:2.3em;	
    }
}
@media handheld, only screen and (min-width: 767px) {
    #localidad{
        opacity:0.9;
        width:15em; 
        height:2.5em;
    }
}
@media handheld, only screen and (max-width: 767px) {
    #localidad{
        opacity:0.8;
        width:10em; 
        height:2.3em;	
    }
}
@media handheld, only screen and (min-width: 767px) {
    #manzana{
        opacity:0.9;
        width:15em; 
        height:2.5em;
    }
}
@media handheld, only screen and (max-width: 767px) {
    #manzana{
        opacity:0.8;
        width:10em; 
        height:2.3em;	
    }
}
@media handheld, only screen and (min-width: 767px) {
    #direccion{
        opacity:0.9;
        width:15em; 
        height:2.5em;
    }
}
@media handheld, only screen and (max-width: 767px) {
    #direccion{
        opacity:0.8;
        width:10em; 
        height:2.3em;	
    }
}
#barra_general{
    opacity: 0.9;
    width: 0em;
    left:60%;

}
#barras{
    opacity: 0.6;
    background-image:url('/barranquilla/imagenes/barras.png');	
    width:0.5em;
    height: 0.1em;
    background-position:center;
    background-size: 100% 110%;
    background-color: rgba(255,255,255,1);
    border-top-left-radius: 0px 0px;	
}
#botonlista{
    padding:0px 0px;
    height:1em;
    width:1em;
}
.input-group-addon{
    height: 50px;
}
@media handheld, only screen and (min-width: 900px) {
    #tipo_usuario
    {
        position: absolute;
        top:1.3em;
        right:10.6em;
        width: 2.1em;
    }
}
@media handheld, only screen and (max-width: 900px) {
    #tipo_usuario
    {
       visibility: hidden;
    }
}

@media handheld, only screen and (min-width: 767px) {
    #nombre_usuario{
        position: absolute;
        top: 3.2em;
        right: 9em;
        width: 80px;
        color: white;
        font-weight: bold;
        text-decoration: underline;
        z-index: 0;
        text-align: center;
    }
}
@media handheld, only screen and (max-width: 900px) {
    #nombre_usuario{
        visibility: hidden;
    }
}
#prueba{
    position: absolute;
    top:10px;
    left:10px;
}
#condiciones{
    position: absolute;
    top:30%;
    left:40%;
    width: 25em;
    height: 18em; 
    background: green; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(white, green); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(white, green); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(white, green); /* For Firefox 3.6 to 15 */
    background: linear-gradient(white, green); /* Standard syntax (must be last) */
    z-index: 1;
}
#completo{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
#carga{
    position: absolute;
    width: 100%;
    height: 100%;
    top:40%;
    left:48%;    
}
/*
#carga2{
    position: absolute;
    width: 100%;
    height: 100%;
    top:40%;
    left:48%;    
}
*/
#carga2{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
#carga3{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
}
#botoncondiciones{
    font-size:12px;
    border-radius: 40px 40px 40px 40px; 
    font-weight:bold;
    color:white;
    background:black;
    border:0px;    
}
#icono_matricula{
    background:url('./imagenes/matricula_inmobiliaria.png');
    background-color:#4ca64c; 
    min-height: 40px 
}

input[type='range'] {
    -webkit-appearance: none;
    border-radius: 0px;
    box-shadow: inset 0 0 0px #FFFFFF;
    background-color: #FFFFFF;
    height: 5px;
    width: 90%;
    vertical-align: middle;
    margin-top:10px;
    margin-left: 10px;
    margin-right: 10px;
}
input[type='range']::-moz-range-track {
    -moz-appearance: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px #e5e500;
    background-color: #e5e500;
    height: 10px;
}
input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 20px;
    background-color: rgba(255,199,0, 1);
    height: 20px;
    width: 20px;
}
input[type='range']::-moz-range-thumb {
    -moz-appearance: none;
    border-radius: 20px;
    background-color: #e5e500;
    border: 1px solid #e5e500;
    height: 20px;
    width: 20px;
}
select{
    color: white;
    font-size:large;
    text-align-last: center;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12{
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}
#leyenda_transmetro{
    position:absolute;
    top:10em;
    left:3em;  
}
.ui-widget {
    font-family: Trebuchet MS,Tahoma,Verdana,Arial,sans-serif;
    font-size: 13px;
}
#mensaje{
    position: absolute;
    bottom:8em;
    left:2em;
    width: auto;
    background-color:#FFFFFF; 
    font-weight: bold;
    font-size:14px;
}      
#statistics{
    position:absolute;
    width: 20em;
    height: 25em;
    top:7em;
    left:0em;    
}
#botonmostrarstatistics{
    position: absolute;
    top:10em;
    left: 0em;
    height: 2em;
    width: 2em;

}
#botonocultarstatistics{
    position: absolute;
    top:10em;
    left: 20em;
    height: 2em;
    width: 2em;
    opacity: 0.9;
}
#panel_atributos{
    position:absolute;
    width: 26em;
    height: 25em;
    top:6em;
    left:0em;  
    font-size:11px;
}
#panel_atr{
    position:absolute;
    max-width:35em;
    max-height:32em;
    bottom:7em;
    left:0em;  
    font-size:11px;
    overflow:scroll;
}


/*#panel_atr{
    position:absolute;
    max-width:30em;
    max-height:32em;
    bottom:7em;
    left:0em;  
    font-size:11px;
    overflow:scroll;
}*/

#panel_atributos_ph{
    position:absolute;
    max-width: 35em;
    max-height: 45em;
    top:10em;
    left:0em;  
    font-size:10px;
    overflow:scroll;
}
#panel_atributos_sui{
    position:absolute;
    width: 26em;
    height: 25em;
    top:8em;
    left:0em;  
    font-size:11px;
}
#panel_atributos_puntos_aaa{
    position:absolute;
    max-width: 26em;
    height: 25em;
    top:8em;
    left:0em;  
    font-size:11px;
}
#botonmostrarpanelatributossui{
    position: absolute;
    top:15em;
    left: 0em;
    height: 2em;
    width: 2em;

}
#botonocultarpanelatributossui{
    position: absolute;
    top:15em;
    left: 20em;
    height: 2em;
    width: 2em;
    opacity: 0.9;
}
#botonmostrarpanelatributos{
    position: absolute;
    top:15em;
    left: 0em;
    height: 2em;
    width: 2em;

}
#botonocultarpanelatributos{
    position: absolute;
    top:15em;
    left: 20em;
    height: 2em;
    width: 2em;
    opacity: 0.9;
}
#botonmostrarpanelatributosalineamiento{
    position: absolute;
    top:15em;
    left: 0em;
    height: 2em;
    width: 2em;

}
#botonminimizar{
    position: absolute;
    top:0em;
    right: 0em;
    height: 2em;
    width: 2em;
    opacity: 0.9;
}

#botonmaximizar{
    position: absolute;
    bottom:7em;
    left: 0em;
    height: 3em;
    width: 3em;
}

#botonmaximizarpuntosaaa{
    position: absolute;
    top:12em;
    left: 0em;
    height: 3em;
    width: 3em;
}

#botonminimizarph{
    position: absolute;
    top:0em;
    right: 0em;
    height: 2em;
    width: 2em;
    opacity: 0.9;
}
#botonminimizarsui{
    position: absolute;
    top:0em;
    right: 0em;
    height: 2em;
    width: 2em;
    opacity: 0.9;
}
#botonminimizarpuntosaaa{
    position: absolute;
    top:0em;
    right: 0em;
    height: 2em;
    width: 2em;
    opacity: 0.9;
}
#botonmaximizarph{
    position: absolute;
    top:40%;
    left: 0em;
    height: 3em;
    width: 3em;
}
#botonmaximizarsui{
    position: absolute;
    top:40%;
    left: 0em;
    height: 3em;
    width: 3em;
}
img.pequeña{
    width: 30px; 
    height: 50px;
}
@media handheld, only screen and (max-width: 767px) {
    #boton3d{
        visibility: hidden;
    }
}
.tooltip {
    position: relative;
    background: rgba(0, 0, 0, 0.8);
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
    opacity: 0.7;
    white-space: nowrap;
}
.tooltip-measure {
    opacity: 0.7;
    font-weight: bold;
}
.tooltip-static {
    background-color: #ffcc33;
    color: black;
    border: 1px solid white;
    opacity: 0;
}
.tooltip-measure:before,
.tooltip-static:before {
    border-top: 6px solid rgba(0, 0, 0, 0.8);
    border-right: 6px solid transparent;
    border-left: 6px solid transparent;
    content: "";
    position: absolute;
    bottom: -6px;
    margin-left: -7px;
    left: 50%;
}
.tooltip-static:before {
    border-top-color: #ffcc33;
}

@media handheld, only screen and (min-width: 900px) {
    .measure-control {
        position:absolute;
        right:2.5em;
        top:33.5em
    }
}
@media handheld, only screen and (max-width: 900px) {
    .measure-control {
        visibility: hidden;
    }
}

.ol-touch .measure-control {
    top: 80px;
}
#limpiarmeasure{
    position:absolute;
    right:2.5em;
    top:33.5em;
    width: 2em;
    height: 2em;
}

td{
    text-align:center;
    /*border:1px solid #000000;*/
    width:200px;
}

.dgcAlert {top: 0;position: absolute;width: 100%;display: block;height: 1000px; background: url(http://www.dgcmedia.es/recursosExternos/fondoAlert.png) repeat; text-align:center; opacity:0; display:none; z-index:999999999999999;}
.dgcAlert .dgcVentana{width: 450px; background: white;min-height: 130px;position: relative;margin: 0 auto;color: black;padding: 8px;border-radius: 10px;}
.dgcAlert .dgcVentana .dgcCerrar {height: 25px;width: 25px;float: right; cursor:pointer; background: url(http://www.dgcmedia.es/recursosExternos/cerrarAlert.jpg) no-repeat center center;}
.dgcAlert .dgcVentana .dgcMensaje { margin: 0 auto; padding-top: 45px; text-align: center; width: 400px;font-size: 16px;}
.dgcAlert .dgcVentana .dgcAceptar{background:#09C; bottom:20px; display: inline-block; font-size: 12px; font-weight: bold; height: 24px; line-height: 24px; padding-left: 5px; padding-right: 5px;text-align: center; text-transform: uppercase; width: 75px;cursor: pointer; color:#FFF; margin-top:50px;}



@media handheld, only screen and (min-width: 900px) {
    #boton_geocoder{
        position:absolute;
        top:1.7em;
        left:55em; 
        height:3em;
        width:3em;    
  }
}
@media handheld, only screen and (max-width: 900px) {
    #boton_geocoder{
        position:absolute;
        left:1em;
        top:5em;
        height:3em;
        width:3em;
  }
}










